<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.dataTables.css" media="screen" />
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/test.js"></script>

    <title>test</title>
</head>
<body>
<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <td>name</td>
        <td>age</td>
        <td>button</td>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</body>
</html>